<a href="{% url 'home' %}"><button>Back to home</button></a>
<h1>Create new container</h1>

<form action="" method="POST">
    <div id="innerForm">
        {% csrf_token %}

        {{form.name.label}}
        {{form.name}}

        {{form.memo.label}}
        {{form.memo}}

        <div>
            <label>food_0:<input name="food_0" type="text"/></label>

            <label>count_0:<input name="count_0" type="number" /></label>
        </div>

    </div>

    <button type="submit">Register</button>
</form>
<button id="addMoreItem" type="button" >Add Field</button>

<script>
    let formNum = 1;
    let addItem = document.getElementById("addMoreItem");
    addItem.addEventListener("click", () => {
        let innerForm = document.getElementById("innerForm");
        let str = `<div>
        <label>food_${formNum}:<input name="food_${formNum}" type="text"/></label>
        <label>count_${formNum}:<input name="count_${formNum}" type="number" /></label></div>
        `
        innerForm.insertAdjacentHTML('beforeend', str);
        formNum += 1;
    })
</script>

