


<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
crossorigin="anonymous"
/>

{% load widget_tweaks %}
<a href="{% url 'home' %}"><button class="btn btn-primary">Back to home</button></a>
<h1>Create new container </h1>

<form action="" method="POST">
    {% csrf_token %}
    <div id="innerForm">
        <div class="form-group">
            {{form.name.label}}
            {% render_field form.name class+="form-control" placeholder=form.name.label %}
        </div>
        <div class="form-group">
            {{form.memo.label}}
            {% render_field form.memo class+="form-control" placeholder=form.memo.label %}
        </div>

        <div class="row">
            <div class="col">
              <input class="form-control" name="food_{{forloop.counter0}}" type="text" placeholder="name"/>
            </div>
            <div class="col">
              <input class="form-control" name="count_{{forloop.counter0}}" type="number" placeholder="count"/>
            </div>
          </div>
    </div>
    <button class="btn btn-primary" id="addMoreItem" type="button" >Add Field</button>
    <button class="btn btn-primary" type="submit">Confirm</button>
  </form>


<script>
    let formNum = {{foods|length}};
    let addItem = document.getElementById("addMoreItem");
    addItem.addEventListener("click", () => {
        let innerForm = document.getElementById("innerForm");
        let str = `<div class="row">
            <div class="col">
              <input class="form-control" name="food_${formNum}" type="text" placeholder="name"/>
            </div>
            <div class="col">
              <input class="form-control" name="count_${formNum}" type="number" placeholder="count"/>
            </div>
          </div> `
        innerForm.insertAdjacentHTML('beforeend', str);
        formNum += 1;
    })
</script>